version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8762:8762
    volumes:
      - ./data:/data
    environment:
      BASE_DIR: /data
      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_KEY: ${SUPABASE_KEY}
      # DATASETS_TABLE: v1_datasets
      # METADATA_TABLE: v1_metadata
      # COGS_TABLE: v1_cogs
      # LABELS_TABLE: v1_labels
      # THUMBNAIL_BUCKET: v1_thumbnails
      DATASETS_TABLE: dev_datasets
      METADATA_TABLE: dev_metadata
      COGS_TABLE: dev_cogs
      LABELS_TABLE: dev_labels
      THUMBNAIL_BUCKET: dev_thumbnails
      UVICORN_PORT: 8762
      UVICORN_HOST: 0.0.0.0
