fastapi
uvicorn[standard]
pydantic-settings
pydantic_geojson
pydantic_partial
python-dotenv
python-multipart
supabase
prometheus-client
rasterio
rio-cogeo
fire
overpy
pillow
geopandas
paramiko
requests
torch
torchvision
tqdm
geopandas
utm
scikit-learn
matplotlib
safetensors
opencv-python