pydantic-settings
pydantic_geojson
pydantic_partial
python-dotenv
python-multipart
supabase
prometheus-client
rasterio
rio-cogeo
fire
pillow
paramiko
requests
torch
torchvision
tqdm
geopandas
utm
scikit-learn
matplotlib
safetensors
opencv-python
pytest
pytest-cov
debugpy
fastapi[testclient]
overpy
aiofiles
httpx
pytest-mock
pyyaml