pydantic-settings
pydantic_geojson
pydantic_partial
python-dotenv
python-multipart
supabase
prometheus-client
rasterio==1.4.2
rio-cogeo
fire
pillow
paramiko
requests
torch
torchvision
tqdm
geopandas
utm
scikit-learn
matplotlib
safetensors
opencv-python
pytest
pytest-cov
debugpy