fastapi
uvicorn[standard]
pydantic-settings
pydantic_geojson
pydantic_partial
python-dotenv
python-multipart
supabase
rasterio==1.4.2
rio-cogeo
fire
overpy
geopandas
paramiko
requests
aiofiles
httpx
tqdm
pytest
pytest-mock
pytest-cov
debugpy
fastapi[testclient]
logfire[fastapi,system-metrics]